.content-add{
    margin-top: 50px;
}


.bg-svg {
    /*background: url("../Image/bg-add-4.svg") no-repeat;*/
    /*background-size: cover;*/
    background: linear-gradient(var(--primary-color), var(--nav-dropdown-color));
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-title-add {
    width: 100%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 1.6rem;
    font-size: 40px;
    font-family: var(--font-title);
    text-transform: uppercase;
    color: var(--primary-color);
}

.container-drop {
    width: calc(100% - 60px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #C93F8D;
    border-radius: 10px;
    margin: 20px 30px 20px 30px;
}

.drop-title-container {
    width: 97% !important;
    text-align: center;
}

.drop-title {
    width: 100% !important;
    color: white;
    text-align: center;
    font-size: 18px;
}

.drop-form {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-drop {
    height: 200px;
}

.container-form {
    background: var(--nav-primary-color);
}

.container-form-title {
    background: var(--nav-secondary-color);
    text-align: center;
    color: white !important;
}

.disp-flex form input {
    height: 45px;
    width: 400px;
    border-radius: 10px;
    margin: 10px;
}

.disp-flex label {
    margin: 10px;
    color: white;
}

.container-submit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}