.container-collections {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-c {
    position: relative;
    width: 46%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-radius {
    border-radius: 50px;
}

.card-radius {
    border-radius: 50px;
    background: white;
}


.card-t {
    text-align: center;
}

.card-sub-title {
    font-family: var(--font-title);
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 20px;
}

.card-btn {
    width: 500px;
    background: var(--nav-dropdown-color);
    color: white;
    height: 60px;
    border-radius: 50px;
    border: 0;
    font-family: var(--font-title);
    font-size: 20px;
}

.container-c button {
    /*display: none;*/
}

.container-c button .img-delete {
    z-index: 3;
    width: 30px;
    position: relative;
    top: -150px;
    left: 320px;
    color: black;
}

a .img-delete {
    z-index: 3;
    position: relative;
    top: -150px;
    left: 320px;
    color: black;
    font-size: 20px;
}

.img-delete:hover {
    color: var(--primary-color);
}

.modify-container-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .container-c {
        width: 96%;
    }
}

@media only screen and (max-width: 410px) {
    a .img-delete {
        top: -100px;
        left: 230px;
    }
}