.container-collections {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-c {
    width: 46%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-radius {
    border-radius: 50px;
}

.card-radius {
    border-radius: 50px;
    background: white;
}

.container-c a:hover .card-radius img{
    height: 360px;
}


.card-t {
    text-align: center;
}

.card-sub-title {
    font-family: var(--font-title);
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 20px;
}

.card-btn {
    width: 500px;
    background: var(--nav-dropdown-color);
    color: white;
    height: 60px;
    border-radius: 50px;
    border: 0;
    font-family: var(--font-title);
    font-size: 20px;
}