.cont-img {
    margin: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}

.btn-pagination {
    width: 80px !important;
    text-align: center;
}

.container-form-title-modify {
    text-align: center;
    color: var(--primary-color) !important;
}

.container-form-modify {
    background: white;
}

.color-black {
    color: black !important;
}

.color-green {
    color: green !important;
}

#success{
    display: none;
}

@media only screen and (max-width: 1215px) {
    .cont-img {
        width: 45%;
    }
}

@media only screen and (max-width: 767px) {
    .cont-img {
        width: 96%;
    }
}

@media only screen and (max-width: 410px) {
    .sub-title {
        font-size: 25px;
    }

    .bg-image {
        width: 250px;
        height: 250px;
    }

    .container-image img:hover {
        height: 260px;
    }
}