.container-bar-search {
    width: 100%;
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disp-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search-bar {
    /*width: 100%;*/
    width: 700px;
    height: 70px;
    border: 1px solid var(--nav-dropdown-color);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input {
    font-family: 'Poppins', sans-serif;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder {
    color: #cac7ff;
}

.second_line {
    width: 100%;
    padding-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second_line label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #cac7ff;
}

.select {
    width: 300px;
    height: 60px;
    border: 1px solid black;
    border-radius: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.img-search {
    width: 25px;
}

.container-img-search {
    border: 0;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    background-color: var(--nav-dropdown-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-input {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


@media only screen and (max-width: 767px) {
    .search-bar {
        width: 400px;
        height: 70px;
    }

    .select {
        width: 200px;
        height: 50px;
    }

    .container-img-search {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 420px) {
    .search-bar {
        width: 100%;
        max-width: 300px;
        height: 60px;
    }

    .second_line {
        display: flex;
        flex-wrap: wrap;
    }

    .sec_col {
        width: 40%;
        font-size: 16px;
        text-align: end;
    }

    .select {
        width: 50%;
        font-size: 16px;
    }

    .container-img-search {
        width: 50px;
        height: 50px;
    }

    .search-bar input {
        font-size: 16px;
        width: 200px;
    }

    .img-search {
        width: 30px;
    }
}

@media only screen and (max-width: 300px) {
    .search-bar {
        width: 100%;
        max-width: 200px;
        height: 50px;
    }

    .container-img-search {
        width: 30px;
        height: 30px;
    }

    .search-bar input {
        font-size: 16px;
        width: 140px;
    }

    .img-search {
        width: 20px;
    }
}