@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
@import url('nav.css');
@import url('base.css');
@import url('feature.css');
@import url('result.css');
@import url('modify.css');
@import url('search-bar.css');
@import url('modify_collection.css');
@import url('add_collection.css');

:root{
    /*Colori*/
    --primary-color: #F3336A;
    --nav-primary-color: #2F4858;
    --nav-secondary-color: #355279;
    --nav-dropdown-color: #5B5593;
    --nav-text-color: #FFFFFF;
    --nav-text-select-color: #C93F8D;
    --border: black;
    /*Font*/
    --font-nav-tile: 'Montserrat', sans-serif;
    --font-nav-li: 'Open Sans', sans-serif;
    --font-sub-title: 'Libre Franklin', Helvetica, sans-serif;
    --font-title: "Josefin Sans",sans-serif;
    /*Size*/
    --size-nav: 1.6rem;
}
