{% extends "nav.html" %}
{% block content %}
    {% if page == 1 %}
        <div class="content bg-svg">
            <div class="container-form">
                <div class="sub-title-add color-w">
                    Add collection
                </div>
                <div class="disp-flex">
                    <form id="form_add_collection" action="/add/" enctype="multipart/form-data" method="post">
                        <input name="name" id="name" type="text" placeholder="Name of the collection"><br>
                        <input class="img-input" name="image" id="image" type="file" accept="image/*" multiple
                               onchange="success();">
                        <label for="image">
                            Upload image
                            <span class="container-img-modify">
                            <img class="img-search" accept="image/*"
                                 src={{ url_for('static', filename='Image/upload.png') }}>
                        </span>
                        </label>
                        <div id="select_conteiner">
                            <label for="rep">Choose a representative: (optional)</label><br>
                            <select name="rep" id="rep">
                            </select>
                        </div>
                        <label class="color-green" id="success">Success upload</label>
                        <div class="container-submit">
                            <input type="submit" class="btn-add" value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="content bg-p">
            <div class="container-form">
                <div class="sub-title color-w">
                    Add metadata
                </div>
                <div class="disp-flex w-100">
                    <form class="w-100" action="/load" enctype="multipart/form-data" method="post">
                        {% for i in range(len) %}
                            <div class="container-drop">
                                <div class="drop-title-container">
                                    <div class="drop-title">
                                        {{ names[i] }}
                                    </div>
                                    <div class="drop-img">
                                        <img class="image-drop" src="{{ url_for('static', filename=image[i]) }}">
                                    </div>
                                </div>
                                <div class="drop-form">
                                    <div>
                                        <input name={{ "name"+names[i] }} id={{ "name"+names[i] }} type="text"
                                               placeholder="Name"><br>
                                    </div>
                                    <div>
                                        <input name={{ "description"+names[i] }} id={{ "description"+names[i] }}
                                               type="text"
                                               placeholder="Description"><br>
                                    </div>
                                    <div>
                                        <input name={{ "type"+names[i] }} id={{ "type"+names[i] }} type="text"
                                               placeholder="Type"><br>
                                    </div>
                                    <div>
                                        <input name={{ "group"+names[i] }} id={{ "group"+names[i] }} type="text"
                                               placeholder="Group"><br>
                                    </div>
                                    <div>
                                        <input name={{ "colour"+names[i] }} id={{ "colour"+names[i] }} type="text"
                                               placeholder="Colour"><br>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="container-submit">
                            <input type="submit" class="btn-add" value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <object class="divider bg-div" data={{ url_for('static', filename='Image/wave-2.svg') }}></object>
    {% endif %}
{% endblock content %}