{% extends "nav.html" %}
{% block content %}
    <div class="content">
        <div class="container-bg">
            <div class="container-flex">
                <div class="container-title">
                    <div class="title">
                        Smart <br>
                        <span>Retrival</span><br>
                        Fashion <br>
                        <button class="btn-about">About us</button>
                    </div>
                </div>
                <div class="container-title hidden-xs">
                    <img src={{ url_for('static', filename='Image/dress.png') }}>
                </div>
            </div>
        </div>
        <object class="divider" data={{ url_for('static', filename='Image/wave.svg') }}></object>
        {% include 'tools/search-bar.html' %}
        <object class="divider" data={{ url_for('static', filename='Image/wave-1.svg') }}></object>
        <div class="container-collection">
            <div class="sub-title">Or browse the clothes</div>
            <div class="container-images">
                {% for name in names %}
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 container-image">
                        <a
                           href={{ url_for('char_image', image_name=name[1], collection=name[0]) }}>
                            <img class="bg-image" src={{ url_for('get_image', image_name=name[1], collection=name[0], dim=340) }}>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <object class="divider bg-div" data={{ url_for('static', filename='Image/wave-2.svg') }}></object>
{% endblock %}
