{% extends "nav.html" %}
{% block content %}
    <div class="content">
        {% include 'tools/search-bar.html' %}
        <div class="container-char">
            <div class="container-char-image">
                <img src={{ url_for('get_image', image_name=id, dim=520) }}>
            </div>
            <div class="container-char-info">
                <div>
                    <div class="char-title">Name of the article</div>
                    <div class="char-info">{{ param[0] }}</div>
                    <div class="char-title">Description</div>
                    <div class="char-info">{{ param[1] }}</div>
                    <div class="char-title">Type of the article</div>
                    <div class="char-info">{{ param[2] }}</div>
                    <div class="char-title">Group of the article</div>
                    <div class="char-info">{{ param[3] }}</div>
                    <div class="char-title">Colour of the article</div>
                    <div class="char-info">{{ param[4] }}</div>
                </div>
            </div>
        </div>
    </div>
    <object class="divider" data={{ url_for('static', filename='Image/wave-2.svg') }}></object>
{% endblock %}
