{% extends "nav.html" %}
{% block content %}
    <div class="content">
        <div class="container-form-modify">
            <div class="disp-flex">
                <div class="container-form-title-modify sub-title-add">
                    Add Image at {{ col_name }}
                </div>
                <form action="/add_image_at_collection" enctype="multipart/form-data" method="post">
                    <input style="display: none" name="name" id="name" type="text" value={{ c_id }}><br>
                    <input class="img-input" name="image" id="image" type="file" accept="image/*" multiple>
                    <label class="color-black" for="image">
                        Upload image
                        <span class="container-img-modify">
                            <img class="img-search" accept="image/*"
                                 src={{ url_for('static', filename='Image/upload-black.png') }}>
                        </span>
                    </label>
                    <div class="container-submit">
                        <input type="submit" class="btn-add" value="Aggiungi">
                    </div>
                </form>
            </div>
        </div>
        <object class="divider" data={{ url_for('static', filename='Image/wave-1.svg') }}></object>
        <div class="container-collection">
            <div class="sub-title">Images of {{ col_name }}</div>
            <div class="container-collections">
                {% for cat in range(l_i,l_s) %}
                    <div class="cont-img">
                        <a href={{ url_for('char_image', image_name=catalog[cat]['article_id'], collection=c_id) }}>
                            <img src={{ url_for('get_image', image_name=catalog[cat]['article_id'], collection=c_id, dim=340) }}>
                        </a>

                    </div>
                {% endfor %}
            </div>
            <div class="d-flex w-100">
                <ul class="pagination pag">
                    {% if page == "1" %}
                        <li class="page-item disabled">
                            <a class="page-link btn-pagination">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link btn-pagination" href={{ url_for('collection', col=c_id, page=page_p) }}>Previous</a>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a>
                    </li>
                    {% if page == n_page %}
                        <li class="page-item disabled">
                            <a class="page-link btn-pagination">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link btn-pagination" href={{ url_for('collection', col=c_id, page=page_n) }}>Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <object class="divider bg-div" data={{ url_for('static', filename='Image/wave-2.svg') }}></object>
{% endblock content %}